.heading-1 {
 font-size: 22px;
 font-weight: bold; 
}

.heading-2 {
  font-size: 26px;
  font-weight: bold; 
}

.heading-text {
  color: $color-gray-400;
  font-weight: 600;
}

@include media-md-min {
  .heading-1 {
    font-size: 28px;
  }
}