$font-base: 'Montserrat', sans-serif;

$color-primary: #23A6F0;
$color-secondary: #737373;
$color-text: #252B42;

$color-yellow-400: #F3CD03;

$color-white: #fff;
$color-black: #000;
$color-backgorund-dark: #252B42;
$color-backgorund-light: #8EC2F2;

$grid-breakpoint-xs: 480px;
$grid-breakpoint-sm: 578px;
$grid-breakpoint-md: 768px;
$grid-breakpoint-lg: 1100px;