$color-white: #ffffff;
$color-red-400: #FF5C5C;
$color-gray-600: #242942;
$color-gray-500: #5B5F71;
$color-gray-400: #A0A1AC;
$color-gray-300: #EEF3F6;

$font-base: 'Barlow', sans-serif;
$font-heading: 'Barlow Condensed', sans-serif;

$grid-breakpoint-xs: 480px;
$grid-breakpoint-sm: 578px;
$grid-breakpoint-md: 768px;
$grid-breakpoint-lg: 1025px;
$grid-breakpoint-xl: 1440px;
$grid-breakpoint-xx: 1921px;