.banner {
  background-color: $color-white;

  &__inner {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  h3 {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@include media-md-max {
  .banner {
    &__inner {
      padding-left: 90px;
      padding-right: 90px;
    }

    &__btn {
      margin-top: 50px;
    }
  }
}

@include media-md-min {
  .banner {
    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__btn {
      margin-left: 30px;
    }
  }
}