.benefits-list {
  text-align: center;

  &__item {
    text-align: center;

    img {
      width: 72px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom:  30px;
    }

    h4 {
      margin-bottom: 10px;
    }
  }
}

@include media-md-max {
  .benefits-list {
    &__item {
      margin-bottom: 110px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@include media-md-min {
  .benefits-list {
    display: flex;
    justify-content: space-between;
  }
}
